NODE_ENV=development
# NODE_ENV=production

PORT=9000
BASE_URL=/api/v1

GLOBAL_RATE_LIMIT_MAX=100
GLOBAL_RATE_LIMIT_WINDOW_MS=15*60*1000

ADMIN_URL=http://localhost:5173
SHOP_URL=http://localhost:5000

STORAGE_DRIVER=local
STORAGE_URL=http://localhost:9000

BRAND_ADDRESS=jamgora
BRAND_NAME=Graduate Fashion


ANNOUNCEMENT_HEIGHT=400
ANNOUNCEMENT_QUALITY=100
ANNOUNCEMENT_WIDTH=1200

BANNER_HEIGHT=400
BANNER_QUALITY=100
BANNER_WIDTH=1200



CATEGORY_HEIGHT=600
CATEGORY_QUALITY=80
CATEGORY_WIDTH=600

# DRAFT_HEIGHT=800
# DRAFT_QUALITY=100
# DRAFT_WIDTH=600

PRODUCT_HEIGHT=600
PRODUCT_QUALITY=100
PRODUCT_WIDTH=600

FACE_IMAGE_WIDTH=400
FACE_IMAGE_HEIGHT=400
FACE_IMAGE_QUALITY=60

PROFILE_QUALITY=80
PROFILE_SIZE=256


DB_HOST=127.0.0.1
DB_PORT=3430
DB_NAME=lifestyle_ecom
DB_USER=root
DB_PASSWORD=localdev2026
# DB_SOCKET_PATH=
CONNECTION_LIMIT=10


GAUTH_CLIENT_ID=184785457190-0bkq1pucbl65n4lhoct81h4leccepgr0.apps.googleusercontent.com
GCS_BUCKET=graduate-ecom
GCS_PROJECT_ID=
INSTANCE_CONNECTION_NAME=

JWTEXPIRY=48
JWTSECRET=fish
UNSUBSCRIBE_SECRET=unsubscribefish






FRAUDE_API_KEY=f86a9906c6f42644b1f6d882beb58ac0
FRAUDE_API_URL=https://fraudchecker.link/api/v1/qc/



GUEST_SSL_EMAIL=arafatshovo2@gmail.com
TEST_SSL_PHONE=01629615314


